.logo{

		width: 5vw;
		height: auto;
		margin-right: 30px;
		

	animation-duration: 5s;
	animation-name: animacionLogo;
	animation-iteration-count: infinite;
	
	
	@include mobile {
		width: 20vw;
	}

  }
@keyframes animacionLogo{
	from {
		-webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
	}
  50%{
		-webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
	} 
	to {
		-webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
		}
}