$colorborder: #c6c6c6;

$fondoproducto:  rgb(192, 192, 192);

$color_button: rgb(0, 140, 255);
$black_fondo: black;
$white : #fff;
$w_fondo2: rgb(189, 207, 243) ;
$color_hover:#0e91c5;
$letra_video:rgb(119, 18, 18)