.quienessomos {
	margin-top: 120px;
	
	
	.histori-imagen{
		width: 90%;
		margin-top: 6px;
	}

	.producto__title2 {
		color: $white;
		

	}

	.quienessomos-text {
		width: 80%;
		margin: auto;
		text-align: justify;

		






	}


}